<!-- Navi header -->
<ng-container *ngFor="let title of navOptions">
    <app-nav-view (click)="setValue(title)" [title]=title></app-nav-view>
</ng-container>

<!-- template display -->
<ng-container [ngTemplateOutlet]="activePage ?  activePage : books"></ng-container>


<!-- template options -->
<ng-template #books>
  <app-books></app-books>
</ng-template>

<ng-template #modal>
  <app-modal-view>
    <div class="head">Payment Notification</div>
    <p>This is a confirmation of you payment</p>
    <div class="foot">click to prin receipt</div>
  </app-modal-view>
</ng-template>

<router-outlet></router-outlet>
